<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp/register</title>
</head>
  <body>
    <h2>Registration Form.</h2>
    <form method="POST" action='/register'>
      <label for="email">Email:</label><br>
      <input type="email" name="email" placeholder="username@domain.com" style="width: 300px;">
      <br>
      <br>
      <form method="POST" action='/register'>
        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="password" style="width: 300px">
        <br>
        <br>
        <button type="submit">Submit</button>
      </form>
    </form>
  </body>
</html>

