<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp_SingleURL</title>
</head>
<% include ./partials/_header %>
<body>
  <h2>URL and their shortened forms.</h2>
  <ul id='url'>
    <li><%= shortURL %> - <%= longURL  %></li>
  </ul>

</body>
</html>

